public-hoist-pattern[]=@react-native/*
public-hoist-pattern[]=react-native
public-hoist-pattern[]=@react-native-community/*
public-hoist-pattern[]=expo
public-hoist-pattern[]=expo-*
public-hoist-pattern[]=@expo/*
public-hoist-pattern[]=@babel/runtime
public-hoist-pattern[]=@babel/runtime/*
public-hoist-pattern[]=expo-device
public-hoist-pattern[]=@react-native-community/*
